*{
    margin: 20px;
    padding: 0px;
}

.circulo {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    border: 6px solid violet;
    background: black;
    box-shadow: 10px 5px 10px gray;
}

.cuadrado {
    width: 100px; 
    height: 100px;
    margin: auto; 
    border: 0px;
    background: #428bca;
    margin-top: 20px;
    box-shadow: 10px 5px 10px gray;
}

.cuadrado-tricolor {
    width: 0; 
    height: 0; 
    margin: auto;
    border-left: 100px solid #428bca;
    border-top: 50px solid #f0ad4e;
    border-bottom: 50px solid red;
    margin-top: 20px;
    box-shadow: 10px 5px 10px gray;
}

.circulo-tricolor {
    width:0;
    height:0;
    margin: auto;
    border-right: 50px solid transparent;
    border-top: 50px solid #428bca;
    border-left: 50px solid #f0ad4e;
    border-bottom: 50px solid #5cb85c;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin-top: 20px;
}