nav {
    background-color:black;
    overflow-wrap: normal;
    border: solid red;
    margin: 20px 50px;
}

.menu {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.menu li {
    width: 10%;
    list-style: none;
}

.menu a {
    color: red;
    border: solid white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
